<ion-view view-title="HELLO">
    <ion-content scroll="false">
		<div class="map">
			<div id="map" data-tap-disabled="true"></div>
		</div>

        <div class="restDescription">
            <p><b>Jines Restaurant</b><br>658 Park Ave.<br>Rochester, NY 14607<br>www.jinesrestaurant.com</p>
            
            <p>
                <b>Business Hours:</b>
                <br>Monday-Saturday: 7AM - 10PM<br>
                Sunday: 7AM - 8PM<br><br>
                <b>Description:</b>
                All day breakfast and Sunday brunch draw crowds to this friendly Greek diner with sidewalk seating
            </p>
        </div>
    </ion-content>
	

    <div class="list card" style="top: 450px;">
        <ion-tabs class="tabs-striped tabs-top tabs-icon-only" delegate-handle="myhandle">
            <ion-tab title="Daily Discounts">
                <ion-content class="list card" scroll="false">
                    <div class="item item-body rest-desc">
                        <p class="disccounts">
                            <b>Pancakes</b>
                            <span id="discount">25% off</span>
                            <br>Available until 2PM
                            <br>25 coupons
                        </p>
                    </div>

                    <div class="item item-body rest-desc">
                        <p class="discounts">
                            <b>Free Coffee with any breakfast</b>
                            <br>Available until 2PM
                            <br>20 coupons
                        </p>
                    </div>
                </ion-content>
            </ion-tab>

            <ion-tab title="Promotions">
                <ion-content class="list card" scroll="false">
                    <div class="item item-body rest-desc">
                        <p class="discounts">
                            <b>Waffles</b>
                            <span id="discount">25% off</span>
                            <br>Available until 2PM
                            <br>25 coupons
                        </p>
                    </div>

                    <div class="item item-body rest-desc">
                        <p class="discounts">
                            <b>Free Orange Juice with any breakfast</b>
                            <br>Available until 2PM
                            <br>20 coupons
                        </p>
    	           </div>
               </ion-content>
            </ion-tab>
        </ion-tabs>
	</div>
</ion-view>