<ion-view view-title="Browse">
  <ion-content>
    <div class="list">
  		<label class="item item-input item-floating-label">
    		<span class="input-label">Item Name</span>
    		<input type="text" placeholder="Item Name">
  		</label>
  		<label class="item item-input item-floating-label">
    		<span class="input-label">Item Price</span>
			<input type="text" placeholder="Item Price">
  		</label>
  		<label class="item item-input item-floating-label">
    		<span class="input-label">Time of Expiration</span>
    		<input type="text" placeholder="Time of Expiration">
  		</label>
  		<button class="button button-positive">
  			Submit
		</button>
	</div>
  </ion-content>
</ion-view>
