<ion-view view-title="Browse">
  <ion-content>
    <div class="list">
    	<div class ="item item-divider">Input an Item</div>
  		<label class="item item-input">
    		<span class="input-label">Name</span>
    		<input type="text" placeholder="Name of Item">
  		</label>
  		<label class="item item-input">
    		<span class="input-label">Price</span>
			<input type="number" placeholder="Price of Item">
  		</label>
  		<label class="item item-input">
    		<span class="input-label">Time</span>
    		<input type="text" placeholder="Time of Expiration">
  		</label>
  		<div class ="item item-divider">Or upload an image</div>
  		<label class="item">
	  		<button class="button button-block button-positive">
	  			Submit
			</button>
		</label>
	</div>
  </ion-content>
</ion-view>
