<ion-view view-title="Eat N Savery">
  <ion-content>

		DISOUNTS
		
		<div class="list">
		   <div class="item item-avatar">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
		   </div>

		   <div class="item item-thumbnail-left">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
			</div>
					   <div class="item item-avatar">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
		   </div>

		   <div class="item item-thumbnail-left">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
			</div>
								   <div class="item item-avatar">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
		   </div>

		   <div class="item item-thumbnail-left">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
			</div>					   <div class="item item-avatar">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
		   </div>

		   <div class="item item-thumbnail-left">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
			</div>
		</div>
  </ion-content>
</ion-view>
