<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <img class="logo" src="img/ESblueB2.jpg"/>
  <h2 class="loginText">Welcome!</h2>
  <h4 class="loginText">Vendor Login</h4>
    <form ng-submit="doLogin()">
      <div class="list">
			   <button class="button button-block button-dark" ng-click="fbLogin()" href="#/app/browse">
			   Login with Facebook
			   </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
