<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
	
    <ion-nav-view name="menuContent"></ion-nav-view>
	<!--- TABS ---->
<ion-tabs class="tabs-dark tabs-icon-top">
	<ion-tab title="Time-Sensitive" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline"
	href="#/app/playlists">
	
  	</ion-tab>

  <ion-tab title="Permanent" icon-on="ion-ios-nutrition" icon-off="ion-ios-nutrition-outline"
  href="#/app/playlists">

    </ion-tab>

<!--  <ion-tab 
    title="Become a Partner" 
    icon-on="ion-ios-people" 
    icon-off="ion-ios-people-outline"
	ng-click="login()">

    <h1>Login with Facebook</h1>


  </ion-tab> -->
</ion-tabs>
	
	<!-- TABS ---->
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-energized">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
	
	<!--- LIST 1: Logged Out -->
      <ion-list id="loggedin" class="loggedin">
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
<!--        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item> -->
        <ion-item menu-close href="#/app/restaurants">
          Restaurants
        </ion-item>
        <ion-item menu-close href="#/app/discounts">
          Discounts
        </ion-item>
        <ion-item menu-close href="#/app/sessions">
          Testing Data Passing
        </ion-item>
      </ion-list>

	<!--- LIST 2: Logged Out -->
      <ion-list  id="loggedout" class="loggedout ng-hide">
        <ion-item menu-close ng-click="login()">
          Logout
        </ion-item>
        <ion-item menu-close href="#/app/submit">
          Submissions
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Settings
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          My Restaurant
        </ion-item>
        <ion-item menu-close href="#/app/restaurants">
          Restaurants
        </ion-item>
        <ion-item menu-close href="#/app/discounts">
          Discounts
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


