<ion-view view-title="Eat N Savery">
  <ion-content>
    <div class="list card">

	  <div class="item item-avatar">
	    <img src="http://placehold.it/150x150">
	    <h2>Chester Cab Pizza</h2>
	    <p>Restaurant Address</p>
	  </div>

	  <div class="item item-body">
	    <div id="list">
	    	<h3>Here's a description of the restaurant</h3>
	    	<ul>
	    		<li>We sell food</li>
	    		<li>We sell food</li>
	    		<li>We sell food</li>
	    	</ul>
	    </div>
	  </div>

	  <div class="item item-body" id="map" data-tap-disabled="true"></div>
	    
	  </div>

	</div>
  </ion-content>
</ion-view>