<ion-view view-title="{{restaurant.id}}">
  <ion-content>

    <img class="map" src="img/jinesMap.png"/>

	<div class="restaurant">
		<p class="restDescription">Jines Restaurant<br>658 Park Ave.<br>Rochester, NY 14607<br>www.jinesrestaurant.com<br><br>
		<button href="tel:7816353194" class="button button-outline">
			<i class="icon ion-ios-telephone"></i> Call
		</button></p>
		<p><b>Business Hours:</b><br>
			Monday-Saturday: 7AM - 10PM<br>
			Sunday: 7AM - 8PM<br><br>
			<b>Description:</b><br>
			All day breakfast and Sunday brunch draw crowds to this friendly Greek diner with sidewalk seating</p>
	</div>
<div class="list card">

    	<div class="item item-body rest-desc">
    		<p><b>Pancakes</b>
    			<span id="discount">25% off</span><br>
    			Available until 2PM<br>
    			25 coupons</p>
    	</div>

    	<div class="item item-body rest-desc">
    		<p><b>Free Coffee with any breakfast</b><br>
    			Available until 2PM<br>
    			20 coupons</p>
    	</div>

	  <!--<div class="item item-avatar">
	    <img src="http://placehold.it/150x150">
	    <h2>{{restaurant.title}}</h2>
	    <h2>Chester Cab Pizza</h2>
	    <p>Restaurant Address</p>
	  </div>

	  <div class="item item-body">
	    <div id="list">
	    	<h3>Here's a description of the restaurant</h3>
	    	<ul>
	    		<li>We sell food</li>
	    		<li>We sell food</li>
	    		<li>We sell food</li>
	    	</ul>
	    </div>
	  </div>

	  <div class="item item-body" id="map" data-tap-disabled="true"></div>
	    
	  </div>-->

	</div>
  </ion-content>
</ion-view>