<ion-view view-title="Your Food Submissions">
  <ion-content>
    <div class="list">
    	<div class ="item item-divider">Submit A New Item</div>
  		<label class="item item-input">
    		<span class="input-label">Name</span>
    		<input type="text" placeholder="Name of Item">
  		</label>
  		<label class="item item-input">
    		<span class="input-label">Price</span>
			<input type="number" placeholder="Price of Item">
  		</label>
  		<label class="item item-input">
    		<span class="input-label">Time</span>
    		<input type="text" placeholder="Time of Expiration">
  		</label>
  		<label class="item">
	  		<button class="button button-block button-positive">
	  			Submit
			</button>
		</label>
  		<div class ="item item-divider">All Submissions</div>
  		<div class="list">
		   <div class="item item-avatar">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
		   </div>

		   <div class="item item-thumbnail-left">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
			</div>
					   <div class="item item-avatar">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
		   </div>

		   <div class="item item-thumbnail-left">
			  <img src="img/restaurants/jines.png">
			  <h3>Jine's Restaurant</h3>
				<p><em>Buy get 1 free</em></p>
				<p><em>Wings</em></p>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
