.tabs-top > .tabs, .tabs.tabs-top {
    position: inherit;
}
.restaurant-list .item-content{
	padding: 0px 0px 0px 0px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 10px 0;
	
	color: white;
}

.input-label{
	color: #000;
}

.menu .bar-header{
	background-color: #ed4949;
}

.bar-header{
	background-color: #ed4949;
}

.restaurant-list .item-content .restaurant-name{
	position: absolute;
	bottom: 0;
	color: white; 
	padding: 15px;
	font-size: 20px;
	padding-top: 20px;
	height: 200px;
	width: 100%;
	background-color: black;
	  opacity: 0.3;
    filter: alpha(opacity=40); -
	    box-shadow: 100px 100px 25px #888888;
}

.bar .button.button-clear, .bar button.button-clear{
	color: #606060;
}


.restaurant-list .restaurant-item{
	background-size: cover;
	background-repeat: no-repeat;
}
                    
/* Styles go here */


.toggle-text > .track {

  width: auto;
  padding-left: 25px;
  padding-right: 25px;

}

.toggle-text .handle {
  left: 7px;
}

.toggle-text .handle-text {
  font-size: 24px;
  color: white;

  position: absolute;
  top: -4px;
  
}

.toggle-text .handle-text-false {
  left: 36px;
}

.toggle-text input:checked + .track .handle {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  left: calc(100% - 34px);
  
/*  -webkit-transform: translate3d(0, 0,0);*/
}
.track-text {
  line-height: 26px;
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

/* restaurant.html */
.restaurant{
  padding: 10px;
}

.restaurant .restDescription{
  text-align: center;
}

.map{
  width: 100%;
  height: 160px;
}

.item p:last-child{
	color: #000;
}
        
/* login.html */
.logo{
  margin: 0 auto !important;
  position: relative;
  width: 30%;
  /*height: 80%;*/
  display: block;
}  

.loginText{
  text-align: center;
  color: #97dbcc;
}
    
ion-content { 
	color: #A0D3D8;	/*mint*/
	background-color: #606060;	/*grey background color*/
}	
ion-view{ 
	color: #FFE2D7; /* Main Primary color */
	background-color: #B03200;
}	
ion-item{ 
	color: #FFE2D7; /* Main Primary color */
	background-color: #B03200;
}
.item, .item-complex, .item-content{ 
	color: #FFE2D7; /* Main Primary color */
	/*background-color: #FF6700;*/
	/*background-color: #547DBF;*/
}	
.item, .item-complex, .item-content{ 
	color: #000; /* Main Primary color */
	background-color: #97dbcc;
	/*background-color: #403C3B;*/
}	
.item-complex .item-content,
.item-radio .item-content {
	background-color: #97dbcc;
  }
::-webkit-input-placeholder {
	color: #FFE2D7; /* Main Primary color */
}

.item-thumbnail-left{
	background-color: #403C3B;
}
.discounts h3{
	padding-top: 10px;
	font-size: 18px;
	color: #FFC900;
    /*color: #3B5957;*/
  /*  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);  */
}
.discounts p{
	font-size: 16px;
	/*color: #B03200;	*/
	color: #fff;

/* restaurant.html */
.rest-desc{
	background-color: #A0D3D8; /*mint*/
}

.button{
	color: #FFE2D7; /* Main Primary color */
	background-color: #FF6700;
}

.button-block .button-dark{
	background-color: #000000;
}

#discount{
	float: right;
}

/*login.html*/
.loginbg{
	background-color: #A0D3D8;
}


/*.color-primary-1 { color: #BB8A76 }
.color-primary-2 { color: #FFE2D7 }
.color-primary-3 { color: #B03200 }
.color-primary-4 { color: #FF4900 }*/

.color-secondary-1-0 { color: #FF7C23 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #BB9276 }
.color-secondary-1-2 { color: #FFE7D7 }
.color-secondary-1-3 { color: #B04700 }
.color-secondary-1-4 { color: #FF6700 }

.color-secondary-2-0 { color: #FF4123 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #BB7F76 }
.color-secondary-2-2 { color: #FFDCD7 }
.color-secondary-2-3 { color: #B01800 }
.color-secondary-2-4 { color: #FF2300 }



