<ion-view view-title="Login">
    <ion-content class="padding has-header">

    	<h2 class="loginText">Welcome!</h2>
				<h4 class="loginText">Vendor Login</h4>
				<img class="loginlogo" src="../img/survefullgreen.png">
			<!--<div class="bar bar-header">
				<span ng-click="login.signout()" class="cancel-create">sign out</span>
	<!--            <button class="button button-calm" ng-click="login.anonymousLogin()">Guest login</button>-->
				<!--<h2 class="subtitle">Login</h1>
			</div>-->


			<div class="">
				<form ng-submit="login.signin()">
					<div class="list">
						<label class="item item-input" id="loginInput">
							<input id="email" name="email" type="email" placeholder="Your email" ng-model="login.email">
						</label>
						<label class="item item-input" id="loginInput">
							<input id="password" name="password" type="password" placeholder="Your password" ng-model="login.password">
						</label>
					</div>
					<div class="padding">
						<button class="button button-block button-positive" type="submit">
							Login
						</button>
					</div>
				</form>
			</div>
		<!--<div ng-show="$rootScope.logIsLog">
			<!--<div class="bar bar-header">-->
			<!--<div class="bar bar-header">
				<h2 class="subtitle"> You're logged in</h2>
				<span ng-click="login.signout()" class="cancel-create">sign out</span>
	<!--            <button class="button button-calm" ng-click="login.anonymousLogin()">Guest login</button>-->
			<!--</div>


			<!--<div class="bar bar-subheader">
				<h2 class="subtitle"> You're logged in</h2>
			</div>-->
		<!--</div>-->
    </ion-content>
</ion-view>
